<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <div class="col-md-12">
    <img class="img-responsive center-block" src="{{restaurant.image}}" style="width: 250px;margin-bottom: 25px;">
  </div>
  <div class="col-md-4">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Opening Hour:</strong> {{restaurant.opening_hours}}</li>
        <li><strong>Tel:</strong> {{restaurant.tel}}</li>
        <li><strong>Address:</strong> {{restaurant.address}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <p>{{restaurant.description}}</p>
  </div>
  <hr>
</div>
<div class="col-md-12">
  <h3>所有評論：</h3>
  {{#each restaurant.Comments}}
  <blockquote class="blockquote mb-0">
    <div class="row align-items-center">
      <div class="col-11">
        <h4><a href="/users/{{this.UserId}}">{{this.User.name}}</a></h4>
        <p>{{this.text}}</p>
        <footer class="blockquote-footer">{{moment this.createdAt}}</footer>
      </div>
      <div class="col-md-1">
        <form action="/admin/comments/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>

    </div>
  </blockquote>
  <hr />
  {{/each}}
  <br />
  <br />
</div>

<hr>

<br />
<br />
<a href="javascript:history.back()">回上一頁</a>