<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{restaurant.image}}" style="width: 250px;margin-bottom: 25px;">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Opening Hour:</strong> {{restaurant.opening_hours}}</li>
        <li><strong>Tel:</strong> {{restaurant.tel}}</li>
        <li><strong>Address:</strong> {{restaurant.address}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <p>{{restaurant.description}}</p>
    <a href="/restaurants/{{restaurant.id}}/dashboard" class="btn btn-primary">Dashboard</a>
  </div>
  <div class="col-md-12">
    <hr />
    <br />
    <br />
  </div>
  <div class="col-md-12">
    <h3>所有評論：</h3>
    {{#each restaurant.Comments}}
    <blockquote class="blockquote mb-0">
      <div class="row align-items-center">
        <div class="col-11">
          <h4><a href="/users/{{this.UserId}}">{{this.User.name}}</a></h4>
          <p>{{this.text}}</p>
          <footer class="blockquote-footer">{{moment this.createdAt}}</footer>
        </div>
        {{#if ../user.isAdmin}}
        <div class="col-md-1">
          <form action="/comments/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
        {{/if}}

      </div>
    </blockquote>
    <hr />
    {{/each}}
    <br />
    <br />
  </div>


  <div class="col-md-12">
    <form action="/comments?restaurantId={{restaurant.id}}" method="POST">
      <label for="text">留下評論：</label>
      <textarea name="text" id="text" cols="30" rows="3" class="form-control"></textarea>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
</div>
<br />
<br />
<a href="javascript:history.back()">回上一頁</a>