<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
</ul>
<br /><br />
<div class="row my-4">
  <ul class="nav nav-pills">
    <li class="nav-items">
      <a href="/restaurants" class="nav-link {{#ifCond '' categoryId}}active{{/ifCond}}">全部</a>
    </li>
    {{#each categories}}
    <li class="nav-items">
      <a href="/restaurants?categoryId={{this.id}}"
        class="nav-link {{#ifCond this.id ../categoryId}}active{{/ifCond}}">{{this.name}}</a>
    </li>
    {{/each}}
  </ul>
</div>
<div class="row">
  {{#each restaurants}}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img class="card-img-top" src="{{this.image}}" alt="Card image cap" width="286px" height="180px">
      <div class="card-body">
        <p class="card-text">
          <a href="/restaurants/{{this.id}}">
            {{this.name}}
          </a>
        </p>
        <span class="badge badge-secondary">{{this.Category.name}}</span>
        <p class="card-text">{{this.description}}</p>
        {{#if this.isFavorite}}
        <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">移除最愛</button>
        </form>
        {{else}}
        <form action="/favorite/{{this.id}}" method="POST">
          <button type="submit" class="btn btn-primary">加入最愛</button>
        </form>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
<br />
<br />
<div class="row">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="/restaurants?curPage={{pre}}&categoryId={{../categoryId}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {{#each pages}}
      <li class="page-item {{#ifCond this ../curPage}}active{{/ifCond}}">
        <a class="page-link " href="/restaurants?curPage={{this}}&categoryId={{../categoryId}}">{{this}}</a>
      </li>
      {{/each}}
      <li class="page-item">
        <a class="page-link" href="/restaurants?curPage={{next}}&categoryId={{../categoryId}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>