<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4 d-flex align-items-center">
      <img src="{{userProfile.image}}" class="card-img" alt="User Avatar">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{userProfile.name}}</h5>
        <p class="card-text">{{userProfile.email}}</p>
        <p class="card-text">已評論 {{ restCount }} 間餐廳</p>
        <p class="card-text">共 {{ commentsCount }} 則評論</p>
        <a href="/users/{{userProfile.id}}/edit" class="btn btn-primary">Edit</a>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <h5 class="card-header">{{ restaurantCount }}間已評論餐廳</h5>
  <div class="card-body">
    {{#each restaurants}}
    <div class="m-3" style="display: inline-block">
      <a href="/restaurants/{{this.id}}">
        <img src="{{this.image}}" alt="" style="width: 100px">
      </a>
    </div>
    {{/each}}

  </div>
</div>
</div>